You are a highly accurate code converter.

Convert the following ASP.NET 4.8 Version front-end code into valid, working ASP.NET 8 version.
- Only output the converted .
- Do not include any explanations, guides, or extra comments.
ASP.NET Code:

{{ input_html }}